{% extends "base_generic.html" %}

{% block content %}
    <h1>Borrowed books</h1>

    {% if book_list %}
        <ul>

            {% for book in book_list %}
                <li class="{% if book.is_overdue %}text-danger{% endif %}">
                    <a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a>
                    ({{ book.due_back }})
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}