{% extends 'base.html' %}
{% block head %}
    <title>Profile Page</title>
{% endblock %}

{% block body %}
    {% load static %}
    <div class="container">
        <h1>Profile</h1>
        <p>Username: {{ user }}</p>
        <p>First Name: {{ user.first_name }}</p>
        <p>Last Name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Description: {{ user.userprofile.description }}</p>
        <p>City: {{ user.userprofile.city }}</p>
        <p>Phone Number: {{ user.userprofile.phone_number }}</p>
        <p>Website: <a href="{{ user.userprofile.website }}">{{ user.userprofile.website }}</a></p>
    </div>
{% endblock %}